input {
  display: inline;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: large;
  font-weight: 500;
  border-color: #2b8807;
}

label {
  display: inline;
  font-size: large;
  font-weight: bold;
  font-style: normal;
  border-color: #2b8807;
  padding-bottom: 3px;
}

.updateBtn,
.inputBtn {
  padding: 8px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(12, 143, 12);
}

.updateBtn:hover {
  padding: 8px 20px;
  transition: cubic-bezier(1, 0, 0, 1);
  background: white;
  color: rgb(15, 202, 15);
  transition: 250ms;
}

.inputBtn:hover {
  padding: 8px 20px;
  transition: cubic-bezier(1, 0, 0, 1);
  background: white;
  color: rgb(15, 202, 15);
  transition: 250ms;
}

.deleteBtn {
  padding: 8px 18px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(173, 21, 29);
}

.deleteBtn:hover {
  padding: 8px 20px;
  transition: cubic-bezier(1, 0, 0, 1);
  background: white;
  color: rgba(219, 15, 15, 0.966);
  transition: 250ms;
}

.form {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-spacing: 10px;
}

.patientData {
  font-size: large;
  font-weight: bold;
  font-style: normal;
  margin-left: 10px;
  padding-bottom: 3px;
  border: rgb(15, 202, 15);
}

.listData {
  font-weight: bolder;
  font-size: larger;
}
