.therapistsForm {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 450px;
  padding: 15px;
  border-spacing: 10px;
  border-style: outset;
  border-color: lightgreen;
  border-radius: 20px;
}

.therapistsFormInput {
  display: inline;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: medium;
  font-weight: 500;
  border-color: #2b8807;
  margin-left: 3px;
  margin-right: 5px;
}

.therapistsFormLabel {
  display: inline;
  font-size: medium;
  font-weight: bolder;
  font-style: normal;
  border-color: #2b8807;
  padding-bottom: 3px;
  padding-right: 5px;
}

.therapistsHeading {
  margin-top: 30px;
  margin-left: 30px;
  font-weight: bolder;
}

.therapistsListInput {
  display: inline;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: medium;
  font-weight: 500;
  border-color: #2b8807;
  margin-left: 3px;
  margin-right: 10px;
}

.therapistListLabel {
  display: inline;
  font-size: medium;
  font-weight: bold;
  font-style: normal;
  border-color: #2b8807;
  padding-bottom: 3px;
  padding-right: 5px;
}

.therapistsListData {
  font-size: large;
  line-height: 150%;
  border-style: outset;
  border-radius: 20px;
  border-color: lightgray;
  margin-left: 20px;
  font-weight: bold;
  padding-left: 15px;
  margin-right: 450px;
}

.therapistListItem {
  display: inline;
  margin-left: 15px;
}

.therapistsData {
  margin-bottom: 30px;
}

.submitTherapistBtn,
.updateTherapistBtn {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(12, 143, 12);
}

.updateTherapistBtn:hover,
.submitTherapistBtn:hover {
  padding: 5px 15px;
  transition: cubic-bezier(1, 0, 0, 1);
  background: white;
  color: rgb(13, 146, 13);
  transition: 250ms;
}

.deleteTherapistBtn {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(173, 21, 29);
}

.deleteTherapistBtn:hover {
  padding: 5px 15px;
  transition: cubic-bezier(1, 0, 0, 1);
  background: white;
  color: rgba(219, 15, 15, 0.966);
  transition: 250ms;
}
