.homePage {
  background-image: url("D:\Final project\client\my-app\public\background2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
